<footer>
    <div class="theme-container">
        <div class="row">
            <div fxFlex="100" fxFlex.gt-sm="25" class="p-2">
                <h2>BÁCH HÓA THIÊN NHIÊN</h2>
                <div>
                    <p fxLayoutAlign="start center" style="margin-bottom: 5px;">
                        <mat-icon>room</mat-icon><span class="mx-2">560/4 Truong Chinh, Tan Binh</span>
                    </p>
                    <p fxLayoutAlign="start center" style="margin-bottom: 5px;">
                        <mat-icon></mat-icon> <span style="color:crimson" class="mx-2"> - Mở cửa 8h-18h (Chủ Nhật đóng
                            cửa)</span>
                    </p>
                    <p fxLayoutAlign="start center" style="margin-bottom: 5px;">
                        <mat-icon>call</mat-icon><span class="mx-2">0971 814 893 (ZALO)</span>
                    </p>
                    <p fxLayoutAlign="start center" style="margin-bottom: 5px;">
                        <mat-icon>drafts</mat-icon><span class="mx-2">info@bachhoathiennhien.com</span>
                    </p>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" class="p-2">
                <h2>GIỚI THIỆU</h2>
                <div>
                    <p fxLayoutAlign="start center" style="margin-bottom: 5px;">
                        <mat-icon>chevron_right</mat-icon><span class="mx-2">Về chúng tôi</span>
                    </p>
                    <p fxLayoutAlign="start center" style="margin-bottom: 5px;">
                        <mat-icon>chevron_right</mat-icon> <span class="mx-2">Góc báo chí</span>
                    </p>
                    <p fxLayoutAlign="start center" style="margin-bottom: 5px;">
                        <mat-icon>chevron_right</mat-icon><span class="mx-2">Tiêu chuẩn chất lượng</span>
                    </p>
                    <p fxLayoutAlign="start center" style="margin-bottom: 5px;">
                        <mat-icon>chevron_right</mat-icon><span class="mx-2">Hợp tác</span>
                    </p>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" class="p-2">
                <h2>ĐIỀU KHOẢN VÀ CHÍNH SÁCH</h2>
                <div>
                    <p fxLayoutAlign="start center" style="margin-bottom: 5px;">
                        <mat-icon>chevron_right</mat-icon><span class="mx-2">Điều khoản dịch vụ</span>
                    </p>
                    <p fxLayoutAlign="start center" style="margin-bottom: 5px;">
                        <mat-icon>chevron_right</mat-icon> <span class="mx-2">Trung tâm hỗ trợ</span>
                    </p>
                    <p fxLayoutAlign="start center" style="margin-bottom: 5px;">
                        <mat-icon>chevron_right</mat-icon><span class="mx-2">Chính sách đổi trả</span>
                    </p>
                    <p fxLayoutAlign="start center" style="margin-bottom: 5px;">
                        <mat-icon>chevron_right</mat-icon><span class="mx-2">Giao nhận hàng</span>
                    </p>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" class="p-2">
                <h2>THÔNG TIN HỖ TRỢ</h2>
                <div>
                    <p fxLayoutAlign="start center" style="margin-bottom: 5px;">
                        <mat-icon>chevron_right</mat-icon><span class="mx-2">Điều khoản dịch vụ</span>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="theme-container mt-3">
        <div class="row" style="font-size: 14px;">
            <p>
                Cung cấp Hạt Giống, tinh dầu, chế phẩm khử mùi, nước xịt phòng. Ship hàng toàn quốc tại 63 tỉnh thành
                Việt
                Nam: An Giang, Bà Rịa - Vũng Tàu, Bắc Giang, Bắc Kạn, Bạc Liêu, Bắc Ninh, Bến Tre, Bình Định, Bình
                Dương,
                Bình Phước, Bình Thuận, Cà Mau, Cao Bằng, Đắk Lắk, Đắk Nông, Điện Biên, Đồng Nai, Đồng Tháp, Gia Lai, Hà
                Giang, Hà Nam, Hà Tĩnh, Hải Dương, Hậu Giang, Hòa Bình, Hưng Yên, Khánh Hòa, Kiên Giang, Kon Tum, Lai
                Châu,
                Lâm Đồng, Lạng Sơn, Lào Cai, Long An, Nam Định, Nghệ An, Ninh Bình, Ninh Thuận, Phú Thọ, Quảng Bình,
                Quảng
                Nam, Quảng Ngãi, Quảng Ninh, Quảng Trị, Sóc Trăng, Sơn La, Tây Ninh, Thái Bình, Thái Nguyên, Thanh Hóa,
                Thừa
                Thiên Huế, Tiền Giang, Trà Vinh, Tuyên Quang, Vĩnh Long, Vĩnh Phúc, Yên Bái, Phú Yên, Cần Thơ, Đà Nẵng,
                Hải
                Phòng, Hà Nội, TP HCM.
            </p>
            <p>
                Cung cấp Hạt Giống, tinh dầu, chế phẩm khử mùi, nước xịt phòng, giao hàng Hạt giống tại Quận 1, Quận 2,
                Quận
                3, Quận 4, Quận 5, Quận 6, Quận 7, Quận 8, Quận 9, Quận 10, Quận 11, Quận 12, Bình Tân, Bình Thạnh, Gò
                Vấp,
                Phú Nhuận, Tân Bình, Tân Phú, Thủ Đức, Bình Chánh, Cần Giờ, Củ Chi, Hóc Môn, Nhà Bè
            </p>
            <div class="divider mt-3 mb-3"></div>
        </div>
    </div>
    
    <div class="theme-container mb-3">
        <div class="row">
            <p style="text-align: center; font-size: 12px;">
                BÁCH HOÁ THIÊN NHIÊN - CUNG CẤP SẢN PHẨM NGUỒN GỐC THIÊN NHIÊN SỐ 1 VIỆT NAM
            </p>
            <div style="text-align: center; font-size: 10px;">
                2019 © Bách Hoá Thiên Nhiên - Địa chỉ: 560/4 Trường Chinh, P13, Q.Tân Bình, TP.Hồ Chí Minh.
            </div>
            <div style="text-align: center; font-size: 10px;">
                Điện thoại: 0971.824.893 - Email: info@bachhoathiennhien.com.
            </div>
        </div>
    </div>
</footer>