.form-order-container {
  .details-title {
    font-size: 20px;
    color: #0b87c9;
  }
  .row {
    display: table;
    width: 70%;
    table-layout: fixed;
    border-spacing: 5px;
  }
  .column {
    display: table-cell;
  }
  .product-search-container {
    width: 100%;

    .product-list {
      margin-top: 10px;
      border: 1px solid #c8c8c8;

      .input-amount {
        width: 70%;
      }
    }
  }
}
