<div class="home-vertical-menu mb-3">
    <div class="menu-item">
        <h2 fxLayout="row" fxLayoutAlign="start center" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact:true}" [id]="'menu-item-'">
            Trang chủ <mat-icon>keyboard_arrow_right</mat-icon> <span class="menu-title"
                style="font-weight: normal !important;">{{newService.dataCategory?.Label}}</span>
        </h2>
    </div>
</div>
<mat-card-header fxLayoutAlign="left center">
    <mat-card-title class="uppercase">{{newService.dataCategory?.Label}}</mat-card-title>
</mat-card-header>
<div class="divider mt-2"></div>
<mat-list class="reviews">
    <div *ngFor="let blog of newService.listBlog" class="h-100  mt-3">
        <a fxLayout="row" fxLayoutAlign="start center" routerLinkActive="active-link" style="text-decoration:none"
            (click)="choiceBlog(blog)">
            <mat-list-item>
                <img matListAvatar [src]="appService.formatUrlImage(blog)" alt="image" class="review-author" style="cursor: pointer;">
                <p matLine fxLayoutAlign="start center">
                    <span class="fw-500"><strong class="title-blog" (click)="choiceBlog(blog)">{{blog.Title}}</strong></span>
                    <mat-icon class="text-muted px-1" [matTooltip]="blog.tooltip" matTooltipPosition="after">
                        {{blog.icon}}</mat-icon>
                </p>
                <p matLine class="text-muted"><small>{{blog.CreatedDate | date:'dd/MM/yyyy'}}</small></p>
                <p matLine class="text displayContent">{{blog.Content}}</p>
            </mat-list-item>
        </a>
    </div>
</mat-list>